.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  height: inherit;

  .extra {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      right: unset;
      left: 0;
    }
  }

  .trigger {
    z-index: 1001;
    width: 80px;
    margin: 0 auto;

    @media (min-width: 801px) {
      display: none;
    }
  }

  .nav {
    padding: 0 12px;
    min-width: 80px;

    @media (max-width: 800px) {
      display: none;
    }
  }
}
